* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

button,
input[type="button"],
input[type="submit"] {
  cursor: pointer;
}

form input {
  width: 90px;
  height: 30px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 14px;
  margin: 5px 0;
}

.header {
  width: 100%;
  min-width: 350px;
  padding: 5px;
  background-color: rgb(13, 160, 20);
  color: #fff;
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.button {
  width: 100%;
  max-width: 100px;
  height: 30px;
  background: #00e676;
  border: 0;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  margin: 10px auto;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  transition: filter 0.2s;
}

.button:hover {
  filter: brightness(90%);
}
